In [1]:
import os # os - operating system
os.getcwd() # get current working directory
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_excel('Employee_Data.xls')

In [3]:
data.head(10)

,Employee Id,First Name,Last Name,Department,Age,Experience,Salary
0,1,Joy,Bass,Sales and Marketing,28.0,3.0,32889
1,2,Sheila,Garza,Sales and Marketing,22.0,1.0,15944
2,3,John,Bryant,Customer Relations,22.0,1.0,40343
3,4,Christian,Farley,Customer Relations,22.0,1.0,19018
4,5,Colorado,Bowen,Accounting,27.0,0.0,24795
5,6,Elijah,Matthews,Accounting,26.0,5.0,15387
6,7,Bo,Mcleod,Customer Relations,24.0,6.0,34117
7,8,Zena,Melendez,Customer Relations,29.0,2.0,16099
8,9,Tucker,Michael,Sales and Marketing,29.0,5.0,42105
9,10,Lucas,Rowe,Customer Relations,30.0,6.0,11891

In [4]:
data.shape

(100, 7)

In [5]:
data.columns

Index(['Employee Id', 'First Name', 'Last Name', 'Department', 'Age',
       'Experience', 'Salary'],
      dtype='object')

In [ ]:
# Splitting data in independent and dependent variable
# converting the dataframe after slicing in array to perform calculations later.
# we can do calculations on array not DF
# when we use python package sklearn to impute missing value we use data in array form - SimpleImputer

In [6]:
x = data.iloc[ : , 3:6].values
x

array([['Sales and Marketing', 28.0, 3.0],
       ['Sales and Marketing', 22.0, 1.0],
       ['Customer Relations', 22.0, 1.0],
       ['Customer Relations', 22.0, 1.0],
       ['Accounting', 27.0, 0.0],
       ['Accounting', 26.0, 5.0],
       ['Customer Relations', 24.0, 6.0],
       ['Customer Relations', 29.0, 2.0],
       ['Sales and Marketing', 29.0, 5.0],
       ['Customer Relations', 30.0, 6.0],
       ['Accounting', 26.0, 5.0],
       ['Sales and Marketing', 26.0, 6.0],
       ['Accounting', 24.0, 5.0],
       ['Accounting', 22.0, 2.0],
       ['Sales and Marketing', 25.0, 3.0],
       ['Accounting', 25.0, nan],
       ['Customer Relations', 22.0, nan],
       ['Accounting', 25.0, nan],
       ['Accounting', 27.0, nan],
       [nan, 25.0, nan],
       [nan, 22.0, nan],
       [nan, 22.0, nan],
       [nan, 24.0, nan],
       [nan, 27.0, nan],
       [nan, 22.0, nan],
       [nan, 33.0, 13.0],
       [nan, 36.0, 7.0],
       [nan, 35.0, 10.0],
       [nan, 33.0, 12.0],
       [nan, 30.0, 14.0],
       [nan, 40.0, 15.0],
       [nan, 39.0, 12.0],
       [nan, nan, 9.0],
       [nan, nan, 7.0],
       [nan, nan, 15.0],
       [nan, nan, 11.0],
       [nan, nan, 10.0],
       [nan, nan, 7.0],
       ['Sales and Marketing', nan, 13.0],
       ['Sales and Marketing', nan, 9.0],
       ['Customer Relations', nan, 8.0],
       ['Accounting', nan, 12.0],
       ['Accounting', nan, 9.0],
       ['Sales and Marketing', nan, 12.0],
       ['Sales and Marketing', nan, 15.0],
       ['Customer Relations', nan, 14.0],
       ['Sales and Marketing', nan, 10.0],
       ['Customer Relations', nan, 8.0],
       ['Customer Relations', nan, 12.0],
       ['Customer Relations', nan, 15.0],
       ['Sales and Marketing', 38.0, 14.0],
       ['Accounting', 41.0, 25.0],
       ['Customer Relations', 44.0, 17.0],
       ['Accounting', 41.0, 17.0],
       ['Sales and Marketing', 50.0, 21.0],
       ['Sales and Marketing', 47.0, 19.0],
       ['Accounting', 43.0, 25.0],
       ['Customer Relations', 48.0, 25.0],
       ['Accounting', 46.0, 22.0],
       ['Customer Relations', 44.0, 16.0],
       ['Accounting', 42.0, 21.0],
       ['Sales and Marketing', 44.0, 19.0],
       ['Customer Relations', 49.0, 16.0],
       ['Customer Relations', 44.0, 18.0],
       ['Sales and Marketing', 49.0, 22.0],
       ['Accounting', 44.0, 17.0],
       ['Sales and Marketing', 48.0, 16.0],
       ['Customer Relations', 47.0, 23.0],
       ['Customer Relations', 50.0, 22.0],
       ['Sales and Marketing', 42.0, 19.0],
       ['Accounting', 48.0, 19.0],
       ['Customer Relations', 46.0, 24.0],
       ['Sales and Marketing', 42.0, 23.0],
       ['Sales and Marketing', 45.0, 22.0],
       ['Customer Relations', 48.0, 17.0],
       ['Sales and Marketing', 41.0, 23.0],
       ['Sales and Marketing', 49.0, 19.0],
       ['Sales and Marketing', 41.0, 22.0],
       ['Sales and Marketing', 42.0, 24.0],
       ['Accounting', 41.0, 22.0],
       ['Accounting', 45.0, 21.0],
       ['Customer Relations', 43.0, 16.0],
       ['Accounting', 46.0, 18.0],
       ['Sales and Marketing', 47.0, 20.0],
       ['Accounting', 45.0, 17.0],
       ['Sales and Marketing', 42.0, 17.0],
       ['Sales and Marketing', 44.0, 21.0],
       ['Accounting', 45.0, 19.0],
       ['Accounting', 44.0, 21.0],
       ['Customer Relations', 47.0, 20.0],
       ['Sales and Marketing', 44.0, 19.0],
       ['Accounting', 44.0, 18.0],
       ['Sales and Marketing', 41.0, 17.0],
       ['Accounting', 48.0, 21.0],
       ['Accounting', 48.0, 22.0],
       ['Sales and Marketing', 47.0, 22.0],
       ['Sales and Marketing', 46.0, 20.0],
       ['Customer Relations', 44.0, 18.0],
       ['Customer Relations', 47.0, 22.0],
       ['Accounting', 44.0, 21.0]], dtype=object)

In [7]:
y = data.iloc[ : ,6:]
y

    Salary
0    32889
1    15944
2    40343
3    19018
4    24795
..     ...
95   79077
96   81187
97   83847
98   89158
99   91645

[100 rows x 1 columns]

In [9]:
# Checking missing values. Need to convert X to dataframe to use pandas funcction
pd.DataFrame(x).isnull().sum()

0    19
1    18
2    10
dtype: int64

In [11]:
# Checking % of missing values. if more than 25% we may ignore than column
pd.DataFrame(x).isnull().sum()/len(pd.DataFrame(x))

0    0.19
1    0.18
2    0.10
dtype: float64

In [23]:
x[ :,0]

array(['Sales and Marketing', 'Sales and Marketing', 'Customer Relations',
       'Customer Relations', 'Accounting', 'Accounting',
       'Customer Relations', 'Customer Relations', 'Sales and Marketing',
       'Customer Relations', 'Accounting', 'Sales and Marketing',
       'Accounting', 'Accounting', 'Sales and Marketing', 'Accounting',
       'Customer Relations', 'Accounting', 'Accounting', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'Sales and Marketing', 'Sales and Marketing',
       'Customer Relations', 'Accounting', 'Accounting',
       'Sales and Marketing', 'Sales and Marketing', 'Customer Relations',
       'Sales and Marketing', 'Customer Relations', 'Customer Relations',
       'Customer Relations', 'Sales and Marketing', 'Accounting',
       'Customer Relations', 'Accounting', 'Sales and Marketing',
       'Sales and Marketing', 'Accounting', 'Customer Relations',
       'Accounting', 'Customer Relations', 'Accounting',
       'Sales and Marketing', 'Customer Relations', 'Customer Relations',
       'Sales and Marketing', 'Accounting', 'Sales and Marketing',
       'Customer Relations', 'Customer Relations', 'Sales and Marketing',
       'Accounting', 'Customer Relations', 'Sales and Marketing',
       'Sales and Marketing', 'Customer Relations', 'Sales and Marketing',
       'Sales and Marketing', 'Sales and Marketing',
       'Sales and Marketing', 'Accounting', 'Accounting',
       'Customer Relations', 'Accounting', 'Sales and Marketing',
       'Accounting', 'Sales and Marketing', 'Sales and Marketing',
       'Accounting', 'Accounting', 'Customer Relations',
       'Sales and Marketing', 'Accounting', 'Sales and Marketing',
       'Accounting', 'Accounting', 'Sales and Marketing',
       'Sales and Marketing', 'Customer Relations', 'Customer Relations',
       'Accounting'], dtype=object)

In [ ]:
# using SimpleImputer from Sklearn to impute missing value 
# note while giving array for column write start and end x[: ,0:1]- all rows and one column
# otherwise you will get error to reshape data

In [17]:
from sklearn.impute import SimpleImputer

In [25]:
impute = SimpleImputer(strategy="most_frequent")
x[:,0:1] = impute.fit_transform(x[:,0:1])

In [27]:
pd.DataFrame(x).isnull().sum()

0     0
1    18
2    10
dtype: int64

In [28]:
# using SimpleImputer from Sklearn to impute missing value in numbers with mean
impute_num = SimpleImputer(strategy="mean")
x[:,1:3] = impute_num.fit_transform(x[:,1:3])

In [29]:
pd.DataFrame(x).isnull().sum()

0    0
1    0
2    0
dtype: int64